* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  background-color: rgb(250, 140, 140);
  padding: 10px;
}
H1 {
  padding: 10px;
  font-size: 50px;
  font-weight: 800;
}

button {
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  background-color: inherit;
  border-radius: 10px;
  border-color: white;
}

h2 {
  text-align: center;
  font-size: 900 px;
  color: black;
}

footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
}
